* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;
}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-mobile {
    display: none;
}

.icon img {
    width: 30px;
    height: 30px;
}

h1 {

    display: flex;
    align-items: center;
    color: #d9b77c;
    font-family: "Finger Paint", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.menu_hamburguer {
    display: none;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}

#container {
    background-color: #F7EFE5;
    padding: 0px 256px;
}

h2 {
    text-align: center;
    padding-top: 50px;
    color: #000;
    font-size: 50px;
    text-shadow: 0px 3px 3px #6c6b6b;
    font-family: "Finger Paint", sans-serif;
    font-weight: 100;
    font-style: normal;

}

p {
    text-align: center;
    margin-top: 20px;

}


.filtro {
    background-color: fff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 3px 6px #000000a2;

}

.filtros_categoria_preco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.filter_icon_title {
    display: flex;
    align-items: center;
}

.filter_icon_title h6 {
    font-size: 16px;
}

.fieldset_catalogo {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    border: 2px solid #d9b77c;  

}

#categoria {
    width: 100%;
    font-size: 15px;
    padding: 10px 0px;
    border-radius: 6px;
}