* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;


}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;


}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon img {
    color: #000;
    background-color: #f7c8d0;
    border-radius: 50px;
    width: 40px;
    height: 40px;

}

h1 {

    display: flex;
    align-items: center;
    color: #d9b77c;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}

.nova_colecao {
    background-color: #f7c8d0;
    display: flex;
    flex-direction: row;
    padding: 32px 64px;
}

.bt_nova_colecao {
    background-color: #d9b77c;
    padding: 20px;
    margin: 0px 64px;

}

.img_colecao{
    width: 700px;
    height: 700px;
    border-radius: 20px;
}


button {
    padding: 10px;
    border-radius: 20px;
    border: none;

}

/* 
aside{
    background-color: #7c8fd9;
    display: inline;
} */