* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #F7EFE5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display: flex;
    
}

h1 {
    background-color: aqua;
}

nav {
    background-color: bisque;
}

div {
    background-color: blue;
}