* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;


}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;


}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon img {
    color: #000;
    background-color: #f7c8d0;
    border-radius: 50px;
    width: 40px;
    height: 40px;

}

h1 {

    display: flex;
    align-items: center;
    color: #d9b77c;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}

.nova_colecao {
    background-color: #f7c8d0;
    display: flex;
    flex-direction: row;
    padding: 64px 128px;
    gap: 50px;
}

.bt_nova_colecao {
    background-color: #d9b77c;
    padding: 20px;
    margin: 0px 64px;

}

.carousel {
    position: relative;
    width: 500px;
    height: 680px;
}

.img_colecao {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* display: none; */
    object-fit: cover;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.img_colecao.ativa {
    opacity: 1;
}

.nova_colecao aside h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.nova_colecao aside h4 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

.nova_colecao aside a {
    padding: 10px;
    border-radius: 20px;
    display: inline;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.nova_colecao aside {
    padding: 128px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.nova_colecao aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

.coleçao_2025 {
    width: 150px;
    padding: 12px;
    background-color: #d9b77c;
    border-radius: 20px;
    text-align: center;

}

.div_coleçao_2025 {
    width: 200px;
    padding: 12px;
    background-color: #d9b77c;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}

.coleçao_2025:hover {
    box-shadow: 0px 0px 10px #f7efe5;
    color: #d9b77c;
}

.img-card {
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px #d9b77c;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    inset: 0;

}

#categoria {
    background: #f7efe5;
    padding: 50px 0px;
}

#categoria h2 {
    text-align: center;
    padding: 10px 0px;
    font-size: 36px;
}

#categoria h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 350px;
    height: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 15px;
    transition: transform 0.7s ease;
}

.card:hover {
    transform: scale(1.04);
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
    pointer-events: none;
}

.card h3 {
    position: relative;
    z-index: 2;
    color: #f7efe5;
    font-size: 27px;
}

.card h4 {
    position: relative;
    z-index: 2;
    color: #f7efe5;
}

.card a {
    position: relative;
    z-index: 2;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7c8d0;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
}

.card a:hover {
    box-shadow: 0px 0px 10px #4a4a4a;
}

#destaque {
    background-color: #fff;
    text-align: center;
}


.title_destaque {
    text-align: center;
    font-size: 36px;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;

}

#destaque h5 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;

}

#cards_destaque {
    display: flex;
    justify-content: space-around;
    padding: 64px 0px;
    margin-bottom: 40px;

}

.card_destaque_img {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 400px;
    /* border-radius: 20px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card_destaque_img:hover {
    transform: scale(1.04);
}

.card_destaque {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #000;
}

.title_card_destaque {
    text-align: center;
    margin: 20px 0px;

}

.preço {
    text-align: center;
    padding: 10px;
}

.preco_novo {
    color: #d9b77c;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.preco_antigo {
    color: #6c6b6b;
    text-decoration: line-through;
}

.card_destaque_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 0;
}

.nova {
    width: 100%;
    display: flex;
    top: 12px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    /* background-color: blue; */
    z-index: 2;

}

.curti_add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 40%;
    z-index: 2;
}

.tag_novo {
    color: rgb(255, 255, 255);
    background-color: #d9b77c;
    border-radius: 20px;
    padding: 3px 10px;
    color: #fff;
    font-weight: 100;
}

.porcentagem_desc {
    background-color: #f7c8d0;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: 100;
}

.btn_like {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

.btn_like img {
    width: 40px;
    position: relative;
    margin: 0px auto;
}

.add_carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9b77c;
    border: none;
    cursor: pointer;
    color: #f7efe5;
    padding: 10px 32px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.todos_produtos {
    background-color: #d9b77c;
    color: #f7efe5;
    padding: 15px 40px;
    /* margin: 50px 0px; */
    width: 200px;
    border-radius: 40px;
    font-size: 20px;
}


#vantagens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7c8d0;
    margin-top: 50px;
    padding: 30px 0px;

}

.icons_vantagens {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9b77c;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.icons_vantagens img {
    width: 40px;
    
}


