* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;


}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;


}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon img {
    color: #000;
    background-color: #f7c8d0;
    border-radius: 50px;
    width: 40px;
    height: 40px;

}

h1 {

    display: flex;
    align-items: center;
    color: #d9b77c;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}

.nova_colecao {
    background-color: #f7c8d0;
    display: flex;
    flex-direction: row;
    padding: 64px 64px;
    gap: 50px;
}

.bt_nova_colecao {
    background-color: #d9b77c;
    padding: 20px;
    margin: 0px 64px;

}

.img_colecao {
    width: 700px;
    height: 750px;
    border-radius: 20px;

}


.nova_colecao aside h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.nova_colecao aside h4 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

.nova_colecao aside a {
    padding: 10px;
    border-radius: 20px;
    display: inline;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.nova_colecao aside {
    padding: 128px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


}

.nova_colecao aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

.coleçao_2025 {
    width: 200px;
    padding: 12px;
    background-color: #d9b77c;
    border-radius: 20px;
    text-align: center;

}

.div_coleçao_2025 {
    width: 200px;
    padding: 12px;
    background-color: #d9b77c;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}

.coleçao_2025:hover {
    box-shadow: 0px 0px 10px #f7efe5;
    color: #d9b77c;
}