* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;
}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-mobile {
    display: none;
}

.icon img {
    width: 30px;
    height: 30px;
}

h1 {
    display: flex;
    align-items: center;
    color: #d9b77c;
    font-family: "Finger Paint", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.menu_hamburguer {
    display: none;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}

.nova_colecao {
    background-color: #f7c8d0;
    display: flex;
    flex-direction: row;
    padding: 64px 128px;
    gap: 50px;
}

.bt_nova_colecao {
    background-color: #d9b77c;
    padding: 20px;
    margin: 0px 64px;

}

.carousel {
    position: relative;
    width: 500px;
    height: 680px;
}

.img_colecao {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* display: none; */
    object-fit: cover;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.img_colecao.ativa {
    opacity: 1;
}

.nova_colecao aside h2 {
    font-size: 60px;
    text-shadow: 0px 3px 3px #6c6b6b;
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nova_colecao aside h4 {
    font-size: 20px;
    font-family: "Butterfly Kids", cursive;
    font-weight: 300;
    font-style: normal;
}

.ver_colecao {
    width: 200px;
    padding: 10px 35px;
    text-align: center;
    background-color: #d9b77c;
    border-radius: 20px;
    display: inline;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.ver_colecao:hover {
    box-shadow: 0px 0px 10px #4a4a4a;
    color: #ffffff;
}

.nova_colecao aside {
    padding: 128px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.nova_colecao aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

.div_coleçao_2025 {
    width: 200px;
    padding: 12px;
    background-color: #d9b77c;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}


.img-card {
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px #d9b77c;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    inset: 0;

}

#categoria {
    background: #f7efe5;
    padding: 50px 0px;
}

#categoria h2 {
    text-align: center;
    padding: 10px 0px;
    font-size: 36px;
}

#categoria h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 350px;
    height: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 15px;
    transition: transform 0.7s ease;
}

.card:hover {
    transform: scale(1.04);
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
    pointer-events: none;
}

.card h3 {
    position: relative;
    z-index: 2;
    color: #f7efe5;
    font-size: 27px;
}

.card h4 {
    position: relative;
    z-index: 2;
    color: #f7efe5;
}

.card a {
    position: relative;
    z-index: 2;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7c8d0;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
}

.card a:hover {
    box-shadow: 0px 0px 10px #4a4a4a;
}

#destaque {
    background-color: #fff;
    text-align: center;
}


.title_destaque {
    text-align: center;
    font-size: 36px;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;

}

#destaque h5 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;

}

#cards_destaque {
    display: flex;
    justify-content: space-around;
    padding: 64px 0px;
    margin-bottom: 40px;

}

.card_destaque_img {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 400px;
    /* border-radius: 20px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card_destaque_img:hover {
    transform: scale(1.04);
}

.card_destaque {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #000;
}

.title_card_destaque {
    text-align: center;
    margin: 20px 0px;

}

.preço {
    text-align: center;
    padding: 10px;
}

.preco_novo {
    color: #d9b77c;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.preco_antigo {
    color: #6c6b6b;
    text-decoration: line-through;
}

.card_destaque_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 0;
}

.nova {
    width: 100%;
    display: flex;
    top: 12px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    /* background-color: blue; */
    z-index: 2;

}

.curti_add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 40%;
    z-index: 2;
}

.tag_novo {
    color: rgb(255, 255, 255);
    background-color: #d9b77c;
    border-radius: 20px;
    padding: 3px 10px;
    color: #fff;
    font-weight: 100;
}

.porcentagem_desc {
    background-color: #f7c8d0;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: 100;
}

.btn_like {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

.btn_like img {
    width: 40px;
    position: relative;
    margin: 0px auto;
}

.add_carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9b77c;
    border: none;
    cursor: pointer;
    color: #f7efe5;
    padding: 10px 32px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.todos_produtos {
    background-color: #d9b77c;
    color: #f7efe5;
    padding: 15px 40px;
    /* margin: 50px 0px; */
    width: 200px;
    border-radius: 40px;
    font-size: 20px;
}

.todos_produtos:hover {
    box-shadow: 0px 0px 6px #d9b77c;
    background-color: #f7c8d0;
    color: #000;
}

#vantagens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7c8d0;
    margin-top: 50px;
    padding: 30px 0px;

}

.icons_vantagens {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9b77c;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.icons_vantagens img {
    width: 40px;
}

#vantagens aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
}

#vantagens aside h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
}

#vantagens aside h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

#nossas_novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    background-color: #F7EFE5;
}

#nossas_novidades h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#nossas_novidades h6 {
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#email {
    background-color: #FFFFFF;
    width: 300px;
    padding: 15px 30px;
    border-radius: 40px;
    border: 2px solid #f7c8d0;
    font-size: 17px;
    text-align: center;
    margin-right: 10px;
}

#btn_inscrever-se {
    background-color: #d9b77c;
    color: #F7EFE5;
    font-size: 17px;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    margin-left: 10px;
    font-weight: bold;
}

#btn_inscrever-se:hover {
    box-shadow: 0px 0px 6px #d9b77c;
    background-color: #f7c8d0;
    color: #000;
}

footer {
    background-color: #f7c8d0;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 250px; */
    padding: 40px 0px;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;

}

.cads_footer {
    width: 200px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    /* background-color: #d9b77c; */
}

.cads_footer h3 {
    color: #d9b77c;
    font-size: 25px;
    margin-bottom: 15px;
}

.cads_footer a {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.cads_footer aside {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.rede_social {
    display: flex;
    align-items: center;
    justify-content: left;
}

.img_rede_social {

    width: 30px;
}

.img_rede_social1 {
    width: 70px;
}

@media (max-width: 768px) {

    /* ===== HEADER ===== */
    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    h1 {
        font-size: 36px;
    }

    .nav {
        display: none;
    }

    .menu_hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: #4a4a4a; */
    }

    #menu {
        width: 40px;
    }


    #close {
        display: none;
        width: 40px;
    }

    nav ul {
        flex-direction: column;
        gap: 16px;
        font-size: 18px;
    }

    nav ul li a {
        font-size: 25px;

    }

    /* ===== NOVA COLEÇÃO ===== */
    .nova_colecao {
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .icon {
        display: none;
    }

    .icon-mobile {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0px;
        text-align: center;
        background-color: #ffffff;
        z-index: 9999;

    }

    .icon-mobile img {
        width: 40px;
        height: 40px;
    }



    .carousel {
        width: 100%;
        max-width: 320px;
        height: 420px;
    }

    .nova_colecao aside {
        padding: 20px 10px;
        align-items: center;
    }

    .nova_colecao aside h2 {
        font-size: 32px;
    }

    /* ===== CATEGORIAS ===== */
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 90%;
        height: 450px;
    }

    /* ===== DESTAQUES ===== */
    #cards_destaque {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px 0;
    }

    .card_destaque_img {
        width: 260px;
        height: 360px;
    }

    .title_destaque {
        font-size: 28px;
        margin-top: 40px;
    }

    #destaque h5 {
        font-size: 16px;
    }

    /* ===== VANTAGENS ===== */
    #vantagens {
        flex-direction: column;
        gap: 30px;
        padding: 40px 0;
    }

    #vantagens aside {
        height: auto;
        gap: 10px;
    }

    /* ===== NEWSLETTER ===== */
    #nossas_novidades {
        height: auto;
        padding: 30px 10px;
        gap: 15px;
        text-align: center;
    }

    #email {
        width: 90%;
        margin: 0;
    }

    #btn_inscrever-se {
        width: 90%;
        margin: 10px 0 0 0;
    }

    /* ===== FOOTER ===== */
    footer div {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .cads_footer {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .rede_social {
        display: flex;
        flex-direction: row;
        /* background-color: #6c6b6b; */
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

}