* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;
}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon img {
    width: 30px;
    height: 30px;
}

h1 {

    display: flex;
    align-items: center;
    color: #d9b77c;
    font-family: "Finger Paint", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}


body {
    background-color: #f9f3ea;
    color: #1f2933;
}

/* HERO */
.hero {
    background: #f8cfd4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 70px 20px;
}

.hero h2 {
    color: #000;
    font-size: 50px;
    text-shadow: 0px 3px 3px #6c6b6b;
    font-family: "Finger Paint", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.hero p {
    font-size: 14px;
    color: #374151;
}

/* CONTENT */
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 80px;
    gap: 40px;
}


.text {
    max-width: 480px;
}

.text h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.text p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #374151;
}

/* IMAGE */
.miranha img {
    width: 450px;
    height: 560px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* ===== NOSSOS VALORES ===== */
.values {
    background-color: #ffffff;
    text-align: center;
    padding: 80px 60px;
}

.values h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

.values .subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 60px;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.value-card {
    max-width: 220px;
    margin: 0 auto;
}

.value-card .icon {
    width: 60px;
    height: 56px;
    background-color: #f8cfd4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 22px;
}

.value-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.value-card p {
    font-size: 13px;
    color: #374151;
    line-height: 1.6;
}


.nossa_jornada {
    background-color: #f7c8d0;
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

}

.nossa_jornada h2 {
    text-align: center;
    font-size: 38px;
}

.nossa_jornada h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}


.cards_jornada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px 64px;

}

.card_jornada {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 450px;
}

.barra_divisao {
    height: 900px;
    width: 4px;
    background-color: #d9b77c;
    position: relative;
}

.cicle_barra {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#cicle1 {
    top: 180px;
    border: 5px solid #fff;
    border-radius: 100%;
    width: 25px;
}

#cicle2 {
    top: 350px;
    border: 5px solid #fff;
    border-radius: 100%;
    width: 25px;
}

#cicle3 {
    top: 520px;
    border: 5px solid #fff;
    border-radius: 100%;
    width: 25px;
}

#cicle4 {
    top: 690px;
    border: 5px solid #fff;
    border-radius: 100%;
    width: 25px;
}

.card_group1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    height: 900px;
    padding-bottom: 170px;
    margin-right: 30px;

}

.card_group2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    height: 900px;
    padding-top: 170px;
    margin-left: 30px;

}


#card_jornada_h2_3,
#card_jornada_h2_4 {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #d9b77c;
    width: 120px;
    border-radius: 20px;
    right: 0px;
    box-shadow: 0px 5px 10px #000;

}


#card_jornada_h2_1,
#card_jornada_h2_2 {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #d9b77c;
    width: 120px;
    border-radius: 20px;
    right: 0px;
    margin-left: 300px;
    box-shadow: 0px 5px 10px #000;

}


#h3_jornada3,
#h3_jornada4 {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

#h3_jornada1,
#h3_jornada2 {
    text-align: right;
    font-size: 25px;
    font-weight: bold;


}

.paragrafo1 {
    text-align: right;
}


footer {
    background-color: #F7C8D0;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 250px; */
    padding: 40px 0px;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;

}

.cads_footer {
    width: 200px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    /* background-color: #d9b77c; */
}

.cads_footer h3 {
    color: #d9b77c;
    font-size: 25px;
    margin-bottom: 15px;
}

.cads_footer a {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.cads_footer aside {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

#pontos_positivos {
    background-color: #6b7280;
}

.cards_avalicao {
    background-color: #F7EFE5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px 0px;
}

.cards_avalicao aside {
    background-color: #fff;
    height: 120px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.cards_avalicao h3 {
    color: #d9b77c;
    font-weight: 100;
}

.cards_avalicao h5 {
    color: #434343;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.faca_parte_nossa_historia {
    background-color: #FFFFFF;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.faca_parte_nossa_historia h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.faca_parte_nossa_historia h5 {
    text-align: center;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

.faca_parte_nossa_historia a {
    background-color: #d9b77c;
    padding: 13px 25px;
    border-radius: 20px;
    margin: 0px 10px;
    color: #000;
    box-shadow: 0px 0px 5px #4c4c4c;
    font-weight: 700;
    /* text-shadow: 0px 0px 1px rgb(0, 0, 0); */
}

.faca_parte_nossa_historia a:hover {
    box-shadow: 0px 0px 10px #000;
}

#btn_entre_em_contato {
    background-color: #F7C8D0;
    color: #000000;
}

#btn_entre_em_contato:hover {
    box-shadow: 0px 0px 10px #000;

}