* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    height: 100vh;
}

header {
    background: #f7efe5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 20px;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 15px;
}

.borda_logo {
    border-radius: 100%;
    background-color: #f7c8d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-mobile {
    display: none;
}

.icon img {
    width: 30px;
    height: 30px;
}

h1 {

    display: flex;
    align-items: center;
    color: #d9b77c;
    font-family: "Finger Paint", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.menu_hamburguer {
    display: none;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #d9b77c;

}

#container {
    background-color: #F7EFE5;
    padding: 0px 256px;
}

h2 {
    text-align: center;
    padding-top: 50px;
    color: #000;
    font-size: 50px;
    text-shadow: 0px 3px 3px #6c6b6b;
    font-family: "Finger Paint", sans-serif;
    font-weight: 100;
    font-style: normal;

}

p {
    text-align: center;
    margin-top: 20px;

}


.filtro {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 3px 6px #000000a2;
    margin: 32px;

}

.filtros_categoria_preco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.filter_icon_title {
    display: flex;
    align-items: center;
}

.filter_icon_title h6 {
    font-size: 16px;
}

.fieldset_catalogo {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    border: 2px solid #d9b77c;

}

#categoria {
    width: 100%;
    font-size: 15px;
    padding: 10px 0px;
    border-radius: 6px;
}

.produtos {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    background-color:#F7EFE5 ;
    align-items: center;
    gap: 2rem;
    padding: 3rem 32px;
    
    
}

.produto_card {
    width: 100%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0px 2px 6px rgb(125, 125, 125);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;


}

.img_card {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.valor_produto {
    margin: 0px;
}

.add_valor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}


footer {
    background-color: #f7c8d0;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 250px; */
    padding: 40px 0px;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;

}

.cads_footer {
    width: 200px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    /* background-color: #d9b77c; */
}

.cads_footer h3 {
    color: #d9b77c;
    font-size: 25px;
    margin-bottom: 15px;
}

.cads_footer a {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.cads_footer aside {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.rede_social {
    display: flex;
    align-items: center;
    justify-content: left;
}

.img_rede_social {

    width: 30px;
}

.img_rede_social1 {
    width: 70px;
}